{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Self Collection of {{ product['name'] }} {% endblock %}</h1>
    <br>

    <root style="display:inline-flex;" class="container">
        <div class="register_form box" style="width: 20%;">
            <p style="text-align: center; font-weight: bold;">Event information</p>
            <br>
            <br>
    
            <label for="prod_name" style="font-weight: bold;">Product</label>
            <input disabled=true class="profile_user_data" type="text" name="prod_name" id="prod_name" value="{{ product['name'] }}">

            <label for="prod_bdate" style="font-weight: bold;">Beginning</label>
            <input disabled=true class="profile_user_data" type="text" name="prod_bdate" id="prod_bdate" value="{{ product['begin_date'] }}">

            <label for="prod_edate" style="font-weight: bold;">End</label>
            <input disabled=true class="profile_user_data" type="text" name="prod_edate" id="prod_edate" value="{{ product['end_date'] }}">

            <label for="sc_address" style="font-weight: bold;">Location</label>
            <input disabled=true class="profile_user_data" type="text" name="sc_address" id="sc_address" value="{{ seller['address'] }}">

            <label for="sc_sellername" style="font-weight: bold;">Farmer</label>
            <input disabled=true class="profile_user_data" type="text" name="sc_sellername" id="sc_sellername" value="{{ seller['name'] }}">
        </div>

        <div class="register_form box" style="width: 20%;">
            <p style="text-align: center; font-weight: bold;">Details</p>
            <br>
            <br>
    
            <label for="sc_sellername" style="font-weight: bold;">Available amount</label>
            <input disabled=true class="profile_user_data" type="text" name="sc_sellername" id="sc_sellername" value="{{ product['quantity'] }}">

            <label for="sc_sellername" style="font-weight: bold;">One piece</label>
            <input disabled=true class="profile_user_data" type="text" name="sc_sellername" id="sc_sellername" value="{{ productSellTypeToString(product['sell_type']) }}">

            <label for="sc_sellername" style="font-weight: bold;">Description</label>
            <input disabled=true class="profile_user_data" type="text" name="sc_sellername" id="sc_sellername" value="{{ product['description'] }}">
        </div>

        <div class="register_form box" style="width: 20%;">
            {% if actionShow == true %}
                <p style="text-align: center; font-weight: bold;">Actions</p>
                <br>
                <br>
        
                <label for="cancel">Not interested in this event anymore?</label>
                <input onclick="eventRemove({{ eventIndex }})" type="button" class="login_form_button" name="cancel" id="cancel" value="Remove event">    
                <br><br>
            
                <label for="calendar_more">Do you wanna see more events or products from this seller?</label>
                <input onclick="window.location=#" type="button" class="login_form_button" name="calendar_more" id="calendar_more" value="Show products">
                <br><br>
            {% else %}
                {% block calendar_content %} {% endblock %}
            {% endif %}
        </div>
    </root>

    <script>
        function eventRemove(index) {
            window.location = "remove_q%id="+index;
        }
    </script>
    <br><br>
{% endblock %}