{% extends 'user/settings/order.html' %}
{% block order_review %}
    <p style="text-align: center; font-weight: bold;">Review this product</p>
    <br><br>
    <p>We value your opinion. Please let us know how you are satisfied with this product.</p>

    <form method="post" action="{{ url_for('user_settings_order_review_go', id=order['id']) }}">
        <select class="login_form_textbox" id="review_select" name="review_select">
            <option value="5">Very satisfied</option>
            <option value="4">Satisfied</option>
            <option value="3">Average</option>
            <option value="2">Not satisfied</option>
            <option value="1">Very disappointed</option>
        </select>
        <textarea style="resize:none; height: 100px;" class="login_form_textbox" id="review_desc" name="review_desc" placeholder="Description" maxlength="{{ getMaxStringLength() }}"></textarea>
        <br><br>
        
        <button type="submit" style="float:inline-start;" class="login_form_button" id="review_button" name="review_button" value="0">Send review</button>
        <input onclick="orderDefault()" style="float:inline-end;" type="button" class="login_form_button" id="cancel_cancel" name="cancel_cancel" value="Close">
        <br><br><br>
    </form>
<script>
    function orderDefault() {
        window.location = "{{ url_for('user_settings_order', id=order['id']) }}";
    }
</script>
{% endblock %}