{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Order {{ order['id'] }} {% endblock %}</h1>
    <br>

    <root style="display:inline-flex;" class="container">
    <div class="register_form box" style="width: 20%;">
        <p style="text-align: center; font-weight: bold;">Order information</p>
        <br>
        <br>

        <label for="id" style="font-weight: bold;">Order number</label>
        <input disabled=true class="profile_user_data" type="text" name="id" id="id" value="{{ order['id'] }}">
        
        <label for="date" style="font-weight: bold;">Creation date</label>
        <input disabled=true class="profile_user_data" type="text" name="date" id="date" value="{{ order['date'] }}">
        
        <label for="status" style="font-weight: bold;">Status</label>
        <input disabled=true class="profile_user_data" typ  e="text" name="status" id="status" value="{{ orderStatusToString(order['status']) }}">

        <label for="product" style="font-weight: bold;">Product</label>
        <input disabled=true class="profile_user_data" typ  e="text" name="product" id="product" value="{{ product['name'] }}">

        <label for="price" style="font-weight: bold;">Total price</label>
        <input disabled=true class="profile_user_data" type="text" name="price" id="price" value="{{ order['price'] }} {{ getUsedCurrency() }}">
    </div>
    <div class="register_form box" style="width: 20%;">
        <p style="text-align: center; font-weight: bold;">Details</p>
        <br>
        <br>

        <label for="seller" style="font-weight: bold;">Seller</label>
        <input disabled=true class="profile_user_data" typ  e="text" name="seller" id="seller" value="{{ seller['name'] }}">

        <label for="price_piece" style="font-weight: bold;">Price per piece</label>
        <input disabled=true class="profile_user_data" typ  e="text" name="price_piece" id="price_piece" value="{{ product['price'] }} {{ getUsedCurrency() }}">

        <label for="sell_type" style="font-weight: bold;">One piece</label>
        <input disabled=true class="profile_user_data" typ  e="text" name="sell_type" id="sell_type" value="{{ productSellTypeToString(product['sell_type']) }}">
    </div>
    <div class="register_form box" style="width: 20%;">
    {% if actionShow == true %}
            <p style="text-align: center; font-weight: bold;">Actions</p>
            <br>
            <br>

            <label for="cancel">If you want to cancel this order, you can cancel it any time while it's being processed.</label>
            {% if order['status'] == 1 %}
            <input onclick="orderCancel({{ order['id'] }})" type="button" class="login_form_button" name="cancel" id="cancel" value="Cancel order">    
            {% else %}
            <input disabled=true onclick="orderCancel({{ order['id'] }})" type="button" class="login_form_button" name="cancel" id="cancel" value="Cancel order">    
            {% endif %}
            <br><br>
    
            <label for="order_more">Do you wanna order more products from this seller?</label>
            <input onclick="window.location=#" type="button" class="login_form_button" name="order_more" id="order_more" value="Show products">
            <br><br>
            
            <label for="order_repeat">What about that you will order this item(s) once again?</label>
            <input onclick="orderRepeat({{ order['id'] }})" onclick="window.location=#" type="button" class="login_form_button" name="order_repeat" id="order_repeat" value="Repeat order">
            <br><br>
    {% else %}
            {% block order_content %} {% endblock %}
    {% endif %}
    </div>
    <script>
        function orderCancel(order_id) {
            window.location = "cancel%id="+order_id;
        }
        function orderRepeat(order_id) {
            window.location = "{{ url_for('new_order', id=order['id'], isRepeat=1) }}";
        }
    </script>
    </root>
    <br><br>
{% endblock %}