{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Category suggestions management {% endblock %}</h1>
    <br>
    <root class="contents" style="display: inline-flexbox;">
        <div class="register_form box" style="width: 95%;">
            <p><b>New suggestions</b></p>

            <table style="margin: 5px; padding: 5px; display: block;">
                <tr>
                    <th class="profile_orders_table_row"></th>
                    <th class="profile_orders_table_row"></th>
                    <th class="profile_orders_table_row" style="width: 100%;"></th>
                </tr>
                {% for cat in cat_suggestions %}
                <tr class="profile_orders_table_row_action" onclick="">
                    <td class="profile_orders_table_row"><b>{{ loop.index }}</b></td>
                    <td class="profile_orders_table_row">{{ cat['name'] }}</td>
                    <td class="profile_orders_table_row"></td>
                    
                    <td hidden=true class="profile_orders_table_row">
                        <input id="s_approve{{ loop.index }}" type="button" value="Approve" class="login_form_button" style="margin: 0px;">
                    </td>
                    <td hidden=true class="profile_orders_table_row">
                        <input id="s_deny{{ loop.index }}" type="button" value="Deny" class="login_form_button" style="margin: 0px;">
                    </td>
                </tr>
                {% endfor %}
            </table>
            </table>
        </div>

        <div class="register_form box" style="width: 95%;">
            <p><b>Closed suggestions</b></p>

            <table style="margin: 5px; padding: 5px; display: block;">
                <tr>
                    <th class="profile_orders_table_row"></th>
                    <th class="profile_orders_table_row"></th>
                    <th class="profile_orders_table_row" style="width: 100%;"></th>
                </tr>
                {% for cat in closed_suggestions %}
                <tr class="profile_orders_table_row_action" onclick="showButtons(loop.index)">
                    <td class="profile_orders_table_row"><b>{{ loop.index }}</b></td>
                    <td class="profile_orders_table_row">{{ cat['name'] }}</td>
                    <td class="profile_orders_table_row"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </root>

    <script>
        function showButtons(index) {
            document.getElementById('buttonsRow').hidden = false;
            document.getElementById('buttonsRow2'+index).hidden = false;
        }
    </script>

    <br><br>
{% endblock %}