{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Správa uživatelů {% endblock %}</h1>
    <root style="display:inline-flex;">
        {% for x in all_users %}
            <form method="post" action="{{ url_for('admin_selected_user_action', id=x['id']) }}">
                {% if selectedID != x['id'] %}
                    <a href="{{ url_for('admin_selected_user', id=x['id']) }}" style="text-decoration: none; color: black;">
                    <div class="admin_users_form">
                {% else %}
                    <div class="admin_users_form_nohover">
                {% endif %}
                        <h3 style="margin-bottom: 0.8cm;">{{ x['email'] }}</h3>
                        <p><b>Jméno:</b> {{ x['name'] }}</p>
                        <p><b>Farmář:</b>
                            {% if x['is_farmer'] == True %} 
                                Ano
                            {% else %}
                                Ne
                            {% endif %}
                        </p>
                        <p><b>Oprávnění:</b>
                            {% if x['role'] == 2 %}
                                Administrátor
                            {% elif x['role'] == 1 %}
                                Moderátor
                            {% elif x['role'] == 0 %}
                                Běžný uživatel
                            {% endif %}
                        </p>
                        <p><b>Narozen:</b> {{ x['birth_date'] }}</p>
                        <p><b>Adresa:</b> {{ x['address'] }}</p>
                        <p><b>Telefon:</b> {{ x['phone_number'] }}</p>
                        {% if selectedID == x['id'] %}
                            {% if error == 1 %}
                                <p style="text-align: center; font-weight: bold; color: red;">Nemůžete smazat vlastní účet!</p>
                            {% endif %}
                            {% if confirm == True %}
                                <p style="text-align: center; font-weight: bold; color: brown;">Opravdu chcete smazat tento účet?</p>
                            {% endif %}
                            {% if confirm != True %}
                                <button type="submit" class="login_form_button" id="user_btn" name="user_btn" value="0">Smazat uživatele</button>
                            {% else %} 
                                <button type="submit" class="login_form_button" id="user_btn" name="user_btn" value="1">Smazat uživatele</button>
                            {% endif %}
                        {% endif %}
                    </div>
                {% if selectedID != x['id'] %}
                    </a>
                {% endif %}
            </form>
        {% endfor %}
    </root>
    <br><br>
{% endblock %}