{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} User '{{ selectedUser['email'] }}' {% endblock %}</h1>
    <root style="display: inline-flex">
        <form method="post" action="{{ url_for('admin_users') }}">
            <p><b>Name:</b> {{ name }}</p>
            <p><b>Is Farmer:</b>
                {% if selectedUser['is_farmer'] == True %} 
                    Yes
                {% else %}
                    No
                {% endif %}
            </p>
            <p><b>Authority:</b>
                {% if selectedUser['role'] == 2 %}
                    Administrator
                {% elif selectedUser['role'] == 1 %}
                    Moderator
                {% elif selectedUser['role'] == 0 %}
                    Basic user
                {% endif %}
            </p>
            <p><b>Birthday:</b> {{ selectedUser['birth_date'] }}</p>
            <p><b>Address:</b> {{ selectedUser['address'] }}</p>
            <p><b>Phone number:</b> {{ selectedUser['phone_number'] }}</p>
        </form>
    </root>
    <br><br>
{% endblock %}