{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Change user account {{ selectedUser['email'] }} {% endblock %}</h1>
    <root style="display:inline-flex; float:inline-end;">
    <div class="login_form">
        <form method="post" action="{{ url_for('admin_user_selected', id=selectedUser['id']) }}">
            <p style="text-align:center;">Modify this user's name, permissions or other data.</p>
            <label for="name"><b>Name</b></label>
            <input class="login_form_textbox" type="text" name="name" id="name" value="{{ selectedUser['name'] }}">
            <label for="email"><b>E-mail</b></label>
            {% if user['id'] == selectedUser['id'] %}
                <input disabled=true class="login_form_textbox" type="text" name="email" id="email" value="{{ selectedUser['email'] }}">
            {% else %}
                <input class="login_form_textbox" type="text" name="email" id="email" value="{{ selectedUser['email'] }}">
            {% endif %}
            <label for="password"><b>Password</b></label>
            {% if user['id'] == selectedUser['id'] %}
                <input disabled=true class="login_form_textbox" type="text" name="password" id="password" value="{{ selectedUser['password'] }}">
            {% else %}
                <input class="login_form_textbox" type="text" name="password" id="password" value="{{ selectedUser['password'] }}">
            {% endif %}
            <label for="permissions"><b>User role and permissions</b></label>
            {% if user['id'] == selectedUser['id'] %}
                <select name="permissions" disabled=true class="login_form_textbox" id="permissions">
            {% else %}
                <select name="permissions" class="login_form_textbox" id="permissions">
            {% endif %}
                {% if (selectedUser['role'] == 0) %}
                    <option value=0 selected>Administrator</option>
                    <option value=1>Moderator</option>
                    <option value=2>Farmer</option>
                    <option value=3>Customer</option>
                {% elif (selectedUser['role'] == 1) %}
                    <option value=0>Administrator</option>
                    <option value=1 selected>Moderator</option>
                    <option value=2>Farmer</option>
                    <option value=3>Customer</option>
                {% elif (selectedUser['role'] == 2) %}
                    <option value=0>Administrator</option>
                    <option value=1>Moderator</option>
                    <option value=2 selected>Farmer</option>
                    <option value=3>Customer</option>
                {% elif (selectedUser['role'] == 3) %}
                    <option value=0>Administrator</option>
                    <option value=1>Moderator</option>
                    <option value=2>Farmer</option>
                    <option value=3 selected>Customer</option>
                {% endif %}
            </select>
            <label for="birthday"><b>Birthday</b></label>
            <input class="login_form_textbox" type="date" name="birthday" id="birthday" value="{{ getUserBirthdate(selectedUser) }}">
            <label for="address"><b>Address</b></label>
            <input class="login_form_textbox" type="text" name="address" id="address" value="{{ getUserAddress(selectedUser) }}">
            <label for="phone"><b>Phone number</b></label>
            <input class="login_form_textbox" type="text" name="phone" id="phone" value="{{ getUserPhoneNumber(selectedUser) }}">
            <button class="login_form_button" type="submit" name="user_btn" id="user_btn" value="0">Proceed</button>
        </form>
    </div>

    <div class="register_form" style="float: none; height: 30%; width: 25%;">
        <p style="font-weight: bold;">Edit status</p>
        {% if error < 0 %}
            No changes done.
        {% elif error == 0 %}
            Changes were successful.
        {% elif error == 10 %}
            Invalid name.
        {% elif error == 11 %}
            Invalid address.
        {% elif error == 12 %}
            Invalid date.
        {% elif error == 13 %}
            Invalid phone number.
        {% elif error == 14 %}
            Invalid e-mail address. 
        {% elif error == 150 %}
            Too short password.
        {% elif error == 151 %}
            Too long password.
        {% else %}
            Unspecified error.
        {% endif %}
        <br><br><br>
        <p style="font-weight: bold;">Remove account</p>
        <button onclick="remove({{ selectedUser['id'] }})" class="login_form_button" type="submit" name="user_btn" id="user_btn" value="0">Proceed</button>
    </div>
    </root>
    <script>
        function remove(id) {
            window.location.href = "/nav/admin/users/remove/"+id;
        }
    </script>
    <br><br>
{% endblock %}