{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} User management {% endblock %}</h1>
    <root style="display:inline-flex;">
        {% for x in all_users %}
            <form method="post" action="{{ url_for('admin_selected_user_action', id=x['id']) }}">
                {% if selectedID != x['id'] %}
                    <a href="{{ url_for('admin_selected_user', id=x['id']) }}" style="text-decoration: none; color: black;">
                    <div class="admin_users_form">
                {% else %}
                    <div class="admin_users_form_nohover">
                {% endif %}
                        <h3 style="margin-bottom: 0.8cm;">{{ x['email'] }}</h3>
                        <p><b>Name:</b> {{ x['name'] }}</p>
                        <p><b>Authority:</b>
                            {% if x['role'] == 0 %}
                                Administrator
                            {% elif x['role'] == 1 %}
                                Moderator
                            {% elif x['role'] == 2 %}
                                User (Farmer)
                            {% elif x['role'] == 3 %}
                                User (Customer)
                            {% endif %}
                        </p>
                        <p><b>Birthday:</b> {{ x['birth_date'] }}</p>
                        <p><b>Address:</b> {{ x['address'] }}</p>
                        <p><b>Phone number:</b> {{ x['phone_number'] }}</p>
                        {% if selectedID == x['id'] %}
                            {% if error == 1 %}
                                <p style="text-align: center; font-weight: bold; color: red;">You can not remove your own account!</p>
                            {% endif %}
                            {% if confirm == True %}
                                <p style="text-align: center; font-weight: bold; color: brown;">Proceed?</p>
                            {% endif %}
                            {% if confirm != True %}
                                <button type="submit" class="login_form_button" id="user_btn" name="user_btn" value="0">Remove user</button>
                            {% else %} 
                                <button type="submit" class="login_form_button" id="user_btn" name="user_btn" value="1">Yes</button>
                            {% endif %}
                        {% endif %}
                    </div>
                {% if selectedID != x['id'] %}
                    </a>
                {% endif %}
            </form>
        {% endfor %}
    </root>
    <br><br>
{% endblock %}