{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Home {% endblock %}</h1>
    <div class="boxes">
        {% for x in categories %}
            {% if x['name'] == 'root' %}
            {% else %}
                <div class="home_search">
                    <h3 style="margin-bottom: 0.8cm;">{{ x['name'] }}</h3>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <br><br>  
{% endblock %}



<!--
    <p><b>Products:</b></p>
    {% for x in products %}
        <p>{{x['name']}} (ID {{x['id']}})</p>
    {% endfor %}
    <br>
    <p><b>Orders:</b></p>
    {% for x in orders %}
        <p>ID {{x['id']}} (buyer ID {{x['buyer']}}): product ID {{x['product']}} for {{x['price']}} IIS Coins per piece</p>
    {% endfor %}
    <br>
    
        TESTING ZONE
        - test something in live app by clicking on button & observe the results
    <p><b>Test some action</b></p>
    <form method="post" action="{{ url_for('testFunction') }}">
    <label for="catname">Do something</label>
        <button type="submit" id="greatButton" name="greatButton">do it</button>
    </form>
    <br>
    -->