{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Domovská stránka {% endblock %}</h1>
    <p><b>Development testing zone</b></p>
    <p><b>Categories:</b></p>
    {% for x in categories %}
    <p>{{x['name']}}</p>
    {% endfor %}
    <br>
    <p><b>Products:</b></p>
    {% for x in products %}
        <p>{{x['name']}} (ID {{x['id']}})</p>
    {% endfor %}
    <br>
    <p><b>Orders:</b></p>
    {% for x in orders %}
        <p>ID {{x['id']}} (buyer ID {{x['buyer']}}): product ID {{x['product']}} for {{x['price']}} IIS Coins per piece</p>
    {% endfor %}
    <br>
    <!--
        TESTING ZONE
        - test something in live app by clicking on button & observe the results
    -->
    <p><b>Test some action</b></p>
    <form method="post" action="{{ url_for('testFunction') }}">
    <label for="catname">Do something</label>
        <!-- 
        <input type="text" name="textfield" id="textfield" placeholder="some text" value="{{ request.form['textfield'] }}"> 
        -->
        <button type="submit" id="greatButton" name="greatButton">do it</button>
    </form>
    <br>
{% endblock %}