{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Přihlašte se do svého účtu {% endblock %}</h1>
    <root style="display:grid;">
    <div class="login_form">
        <form method="post" action="{{ url_for('login_user') }}">
            <p style="text-align: center;">Pro přihlášení zadejte svůj e-mail a heslo.</p>
            <br><br>
            <label for="login"><b>E-mailová adresa</b></label>
            <input class="login_form_textbox" type="text" name="login" id="login" placeholder="Váš e-mail" value="{{ request.form['login'] }}">
            <label for="pass"><b>Heslo</b></label>
            <input class="login_form_textbox" type="password" name="pass" id="pass" placeholder="Vaše heslo" value="{{ request.form['pass'] }}">
            {% if error == True %}
                <p style="text-align: center; height: 30px; color: red; text-decoration: solid; font-weight: bold;">Zadány neplatné přihlašovací údaje!</p>
            {% endif %}
            <button class="login_form_button" type="submit" id="user_btn" name="user_btn">Přihlásit se</button>
        </form>
    </div>
    <div class="register_form">
        <form method="get" action="{{ url_for('registration') }}">
            <p style="text-align: center;">Ještě u nás nemáte účet? Zaregistrujte se a využijte výhody registrovaných uživatelů!</p>
            <button class="login_form_button" type="submit" id="user_btn" name="user_btn">Zaregistrovat se</button>
        </form>
    </div>
    </root>
    <br><br>
{% endblock %}