{% extends 'base.html' %}
{% block content %}
    <p hidden="true">{% block title %} New order {% endblock %}</p>
    {% if isRepeat == true %}
        <h1>Repeating order {{ order['id'] }}</h1>
    {% else %}
        <h1>New order</h1>
    {% endif %}
    <root style="display:grid;">
    <div class="login_form">
        <form method="post" action="{{ url_for('new_order_go', isRepeat=isRepeat) }}">
            <p style="text-align: center;">Please check order information before sending it!</p>
            <br><br>
            <input hidden=true type="text" name="buyer_id" id="buyer_id" value="{{ user['id'] }}" >
            
            <label for="product"><b>Items</b></label>
            {% for item in cart %}
                <input disabled=true class="profile_user_data" type="text" name="product" id="product" value="{{ item['quantity'] }}x {{ getProductName(item['product_id']) }} from {{ getProductSellerName(item['product_id']) }} for {{ getCartProductPrice(item['product_id'], item['quantity']) }} {{ getUsedCurrency() }}" >
            {% endfor %}

            <label for="price"><b>Total price</b></label>
            <input disabled=true class="profile_user_data" type="text" name="price" id="price" value="{{ total_price }} {{ getUsedCurrency() }}" >

            <centerize style="display: inline-flexbox;">
                <button style="float:inline-start;" class="login_form_button" type="submit" id="user_btn" name="user_btn">Create new order</button>
                <input style="float:inline-end;" onclick="returnHome()" type="button" class="login_form_button" id="cancel_btn" name="cancel_btn" value="Cancel">
            </centerize>
        </form>
    </div>
    <script>
        function returnHome() {
            window.location = "{{ url_for('home') }}";
        }
    </script>
    </root>
    <br><br>
{% endblock %}