{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} List of all Farmers{% endblock %}</h1>
    <hr>
    <div class="farmers">
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
            {% for x in farmers%}
                <tr>
                    <td onclick="location.href='{{ url_for('open_farmer', id=x['id']) }}'">{{x.name}}</td>
                    <td>{{x.address}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}