{% extends 'base.html' %}
{% block content %}
    <div class="product_page">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <p><b>Seller:</b> <a href="{{ url_for('open_farmer', id=seller['id']) }}">{{ seller['name'] }}</a></p>
        <br></br>
        {% if product['sell_type'] == 0 %}    
            <p> <b>Price:</b> {{ product['price'] }} {{ getUsedCurrency() }} for piece</p>
            <p><b>In Stock:</b> {{ product.quantity }} pieces</p>
        {% elif product['sell_type'] == 1 %}
            <p> <b>Price:</b> {{ product['price'] }} {{ getUsedCurrency() }} per kg</p>
            <p><b>In Stock:</b> {{ product.quantity }} kg</p>
        {% else %}
            <p> <b>Price:</b> {{ product['price'] }} {{ getUsedCurrency() }} per g</p>
            <p><b>In Stock:</b> {{ product.quantity }} g</p>
        {% endif %}
        
        {% if product['self_harvest'] %}
            <br></br>
            <p>Self Harvest:</p>
            <p>Harvest starts: {{ product['begin_date']}}</p>
            <p>Harvest ends: {{ product['end_date']}}</p>
            <br></br>
            {% if logged == True %}
            <a href="{{ url_for('new_event', id=product['id']) }}">
                <button class="btn btn-primary">Add to Calendar</button>
            </a>
            {% else %}
                <p style="color: darkred; font-weight: bold;">Registered users can add this event to their calendar.</p>
            {% endif %}
        {% else %}
            <br></br>
            {% if logged == True and not isMyProduct(user['id'], product['id']) %}
                {% if product['quantity'] != 0 %}
                <form action="{{ url_for('add_to_cart', id=product['id']) }}" method="POST">
                    <label>Quantity:</label><br>
                    <input type="number" id="quantity" name="quantity" min="1" max="{{ product.quantity }}" value="1" placeholder="Quantity">
                    <br></br>
                    <input type="submit" class="login_form_button" style="display: inline;" value="Add to cart">
                </form>
                {% else %}
                    <p style="color: darkred; font-weight: bold;">We're sorry, but this product is out of stock. Come back later!</p>
                {% endif %}
            {% else %}
                {% if logged == False %}
                    <p style="color: darkred; font-weight: bold;">Only registered user can buy this product.</p>
                {% else %}
                    <p style="color: darkred; font-weight: bold;">Sorry, you can not order your own product.</p>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if added_to_cart %}
            <p>Added item to cart</p>
        {% endif %}

        {% if added %}
                <p>Added to calendar</p>
        {% endif %}
        <br><br>

        {% if logged and userBoughtProduct(user['id'], product['id']) and not userWrittenReview(user['id'], product['id']) %}
        <p style="text-align: center; font-weight: bold;">Review this product</p>
        <p>We value your opinion. Please let us know how you are satisfied with this product.</p>
        <div style="display: inline-flex;">
            <form method="post" action="{{ url_for('product_review', id=product['id']) }}">
                <select class="login_form_textbox" id="review_select" name="review_select">
                    <option value="5">Very satisfied</option>
                    <option value="4">Satisfied</option>
                    <option value="3">Average</option>
                    <option value="2">Not satisfied</option>
                    <option value="1">Very disappointed</option>
                </select>
                <textarea style="resize:none; height: 100px;" class="login_form_textbox" id="review_desc" name="review_desc" placeholder="Description" maxlength="{{ getMaxStringLength() }}"></textarea>
                <br><br>
                
                <button type="submit" style="float:inline-start;" class="login_form_button" id="review_button" name="review_button" value="0">Send review</button>
                <br><br><br>
            </form>
        </div>
        <br>
        {% endif %}

        <br><br>
        <p><b>Reviews: </b></p>
        {% if getProductReviews(product['id']) | length() == 0 %}
            <p>Nobody reviewed this product yet. Be first and order this product!</p>
        {% endif %}
        
        {% for x in getProductReviews(product['id']) %}
            <p style="font-weight: bold;">Review from: {{ getUserName(x['reviewer_id']) }}</p>
            <p>Satisfaction:
                {% for i in range(0, x['evaluation']) %}
                    *
                {% endfor %}
            </p>
            <p>{{ x['text'] }}</p>
            <br>
        {% endfor %}
    </div>
{% endblock %}